
.header{
    border-radius: 50%;
    height: 10%;
    width: 10%;
}
.navbuttons a{
    margin: 0 5%;
    border: 1px solid lightgrey;
    padding: 2%;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: #FF764E;
}